<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhosTheSpy</title>
    <link href="./styles.css" rel="stylesheet">
    <script src="../index.js"></script>
    <script src="script.js"></script>
</head>

<body>
    <div class="headline">
        <h1 class="head">Who's the Spy</h1>
    </div>
    <div class="parts">
        <div class="one">
            <img src="../photos/Alice.png">
            <p class="name">Alice</p>
            <div class="chat" id="aliceChat"></div>
        </div>
        <div class="two">
            <img src="../photos/Bob.png">
            <p class="name">Bob</p>
            <div class="chat" id="bobChat"></div>
        </div>
        <div class="three">
            <img src="../photos/Carol.png">
            <p class="name">Carol</p>
            <div class="chat" id="carolChat"></div>
        </div>
        <div class="four">
            <img src="../photos/Dave.png">
            <p class="name">Dave</p>
            <div class="chat" id="daveChat"></div>
        </div>
        <div class="five">
            <img src="../photos/Eve.png">
            <p class="name">Eve</p>
            <div class="chat" id="eveChat"></div>
        </div>
    </div>
    <div class="Button">
        <button id="startGameButton" onclick="startGame()" class="start">Start Game</button>
    </div>


</body>
<script src="./index.js"></script>

</html>